.cursor{
  
    position:absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
*{
    cursor:none;
}
.mouse-down{
    border:2px solid black;
    background: black;
    border-radius: 50%;
    
}
body {
    background-image: url("/Users/jolene/Desktop/core2jolenechen/lab-2022/customcursor/Sprite-0001.png");
  
    background-size: 1500px;
  
   }